

body{
    background: #0000007f url(../img/background.jpg
    ) no-repeat;
    background-blend-mode:overlay;
}

header{
    display: flex;
    justify-content: last baseline;
}

header img{
    margin: -20px 0 0 100px;
    width: 12%;
}

header div{
    background-color: black;
    color: aliceblue;
    border-radius: 5px;
    width:  190px;
    height: 35px;
    align-content: center;
    box-sizing: border-box;
    margin: 30px 10px 0 auto;
}

.translate{
    translate: 0px 5px;
}

header select{
    translate: 0 -2px;
    width:  160px;
    height: 35px;
    background-color: black;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
}

header button{
    color: white;
    background-color: brown;
    border: 2px solid white;
    width:  80px;
    height: 35px;
    padding: 10px;
    margin: 30px 10% 0 0;
    box-sizing: border-box;
    border-radius: 5px;
}
main form{
    padding: 200px 0 0 0 ;
    display: flexbox;
}
.first{
    font-size: 70px;
    color: aliceblue;
    margin: 0 0 20% 20%;
    box-sizing: border-box;
}

.second{
    font-size: 40px;
    color: aliceblue;
    margin: 0 0 30% 30%;
    box-sizing: border-box
}

.thirst{
    font-size: 20px;
    color: aliceblue;
    margin: 20% 0 35% 35%;
    box-sizing: border-box
}

.email{
    margin: 1% 0 30% 30%;
}

main button{
    border: 1px solid black;
    border-radius: 5px;
    width: 200px;
    height: 53px;
    color: white;
    background-color: brown;
}

main input{
    border: 1px solid black;
    border-radius: 5px;
    width: 600px;
    height: 45px;
    color: brown;
    background-color: white;
}